{% extends 'common/base.html' %}
{% load static %}
{% block title %} Quiz Quiz! - History List {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/common/common-report-detail.css' %}"/>
{% endblock %}

{% block content %}
    <div class="report-list-wrapper">
        <div class="report-paper-div">
            <div class="report-list-paper">
                {% if is_winner|default:'0' == '0' %}
                    <img class="report-icon" src="{% static 'images/report_icon.gif' %}" alt="report"/>
                {% else %}
                    <img class="report-icon" src="{% static 'images/you_win.gif' %}" alt="report"/>
                {% endif %}
                <p class="report-list-title">{{ report_title|default:"Quiz Report" }}</p>
                <div class="scrollable-content">
                    <div class="report-detail">
                        <!-- Display statistics in a single line -->
                        <b>Total Questions:</b> {{ total_questions }} |
                        <b>Correct Answers:</b> {{ correct_answers }} |
                        <b>Total Time Spent:</b> {{ total_response_time }} seconds
                        {% if is_match == '1' %}
                            <b>| Correct number of your opponent: {{ opponent_correct_answers }}</b>
                            <b>| Total Time of your opponent: {{ opponent_total_response_time }}</b>
                            {% if is_winner == '1' %}
                                <b style="color: green">| {{ win_or_lose }}</b>
                            {% else %}
                                <b style="color: red">| {{ win_or_lose }}</b>
                            {% endif %}
                        {% endif %}
                    </div>

                    <div class="questions-details">
                        {% if report_data %}
                            <table class="report-table">
                                <thead>
                                <tr>
                                    <th>Question</th>
                                    <th>Options</th>
                                    <th>Selected Answer</th>
                                    <th>Correct Answer</th>
                                    <th>Explanation</th>
                                    <th>Response Time (s)</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for record in report_data %}
                                    <tr>
                                        <td>{{ record.question_text }}</td>
                                        <td>
                                            <ul>
                                                <li>A: {{ record.option_a }}</li>
                                                <li>B: {{ record.option_b }}</li>
                                                <li>C: {{ record.option_c }}</li>
                                                <li>D: {{ record.option_d }}</li>
                                            </ul>
                                        </td>
                                        <td>{{ record.selected_answer }}</td>
                                        <td>{{ record.correct_answer }}</td>
                                        <td>{{ record.correct_answer_explanation }}</td>
                                        <td>{{ record.response_time }} seconds</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>No quiz records found.</p>
                        {% endif %}
                    </div>


                    <!-- Display the report data -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/common/common-report-detail.js' %}"></script>
{% endblock %}