{% extends 'common/base.html' %}
{% load static %}
{% block title %} Quiz Quiz! - History List {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/common/common-report-list.css' %}"/>
{% endblock %}

{% block content %}
    <div class="report-list-wrapper">
        <div class="report-paper-div">
            <div class="report-list-paper">
                <img class="report-icon" src="{% static 'images/report_icon.gif' %}" alt="report"/>
                <p class="report-list-title">History List</p>
                <div class="scrollable-content">
                    {% for record in records %}
                        <a href="/singleplayer/report?generation_id={{ record.generation_id }}" class="report-link">
                            <p id="{{ record.id }}">
                                > {{ record.created_at|date:"Y.m.d" }} {{ record.question.title }} 
                            </p>
                        </a>
                    {% empty %}
                        <p>No records found.</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/common/common-report-list.js' %}"></script>
{% endblock %}
