{% extends 'common/base.html' %}
{% load static %}
{% block title %} Quiz Quiz! - History List {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/common-report-list.css' %}"/>
{% endblock %}

{% block content %}
    <div class="report-list-wrapper">
        <div class="report-paper-div">
            <div class="report-list-paper">
                <img class="report-icon" src="{% static 'images/report_icon.gif' %}" alt="report"/>
                <p class="report-list-title">History List</p>
                <div class="scrollable-content">
                    <p id="1">> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <p>> 2025.02.25 Python/Django [win]</p>
                    <!-- 更多内容... -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/common-report-list.js' %}"></script>
{% endblock %}