{% extends 'base.html' %}
{% block title %} Quiz Quiz! - Info Page {% endblock %}
{% block content %}

    {% if info is not None and info != '' %}
          <p style="z-index: 102; color: greenyellow; font-size: 35px">
            Wow! {{ info }}
        </p>
    {% elif error is not None and error != '' %}
        <p style="z-index: 102; color: red; font-size: 35px; font-weight: bold">
            Oops! ERROR: {{ error }}
        </p>
    {% endif %}

    <br/>
    <a href="index" style="z-index: 102; font-size:35px; margin-left: 10px">Back to home page</a>

    <!-- a mark to indicate this is info page -->
    <input type="hidden" id="info_page" value="info_page}">
{% endblock %}