.report-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 980px;
    width: 1300px;
    position: relative;
}

.report-paper-div {
    background-image: url("/static/images/paper.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 980px;
    width: 1300px;
    z-index: 103;
    position: absolute;
}

.report-icon {
    position: relative;
    top: 50px;
    right: -450px;
    width: 100px;
    height: 100px;
    display: inline;
}

.report-list-title {
    text-align: left;
    width: 1300px;
    font-size: 60px;
    font-weight: bold;
    color: #FFBF6B;
    text-shadow: 2px 1px 3px black;
    position: relative;
    top: 50px;
    left: 200px;
    display: block;
    margin-top:0;
    margin-bottom: 10px;
}

.scrollable-content {
    overflow-y: auto;
    font-weight: bold;
    text-align: left;
    padding: 10px;
    width: 850px;
    height: 600px;
    position: relative;
    top: 50px;
    left: 200px;
    border: none;
}

/* 优化 <a> 标签的样式 */
.scrollable-content a {
    text-decoration: none; /* 去除下划线 */
    color: inherit; /* 继承父元素的颜色 */
    display: block; /* 将 <a> 标签设置为块级元素，使其占据整行 */
    padding: 5px; /* 添加内边距，增加点击区域 */
    margin-bottom: 5px; /* 增加底部外边距，使每个链接之间有间隔 */
}

.scrollable-content a:hover {
    background-color: #FFBF6B;
    color: white;
    cursor: pointer;
}

.scrollable-content p {
    margin: 0; /* 去除 <p> 标签的默认外边距 */
}
