{% extends 'common/base.html' %}
{% load static %}
{% block title %} Quiz Quiz! - Recommended Rooms {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/multiplayer_recommendation.css' %}"/>
{% endblock %}

{% block content %}
    <div class="rooms-wrapper">
        <p class="page-title">Recommended Rooms</p>
        <a href="#" class="refresh-a-tag">Refresh</a>
        <div class="rooms-div">
            <div class="room1" id="1">
                <div class="room-title-div">
                    <span class="room-title">Django Vs. Spring</span>
                </div>
                <div class="room-detail">
                    <span class="room-owner">Room Owner: Jaiden</span>
                    <span class="room-question">Questions: 10</span>
                    <span class="room-countdown">Time: 3:00</span>
                </div>
            </div>
            <div class="room1" id="1">
                <div class="room-title-div">
                    <span class="room-title">Django Vs. Spring</span>
                </div>
                <div class="room-detail">
                    <span class="room-owner">Room Owner: Jaiden Chen</span>
                    <span class="room-question">Questions: 10</span>
                    <span class="room-countdown">Time: 3:00</span>
                </div>
            </div>
            <div class="room1" id="1">
                <div class="room-title-div">
                    <span class="room-title">Django Vs. Spring</span>
                </div>
                <div class="room-detail">
                    <span class="room-owner">Room Owner: Jaiden</span>
                    <span class="room-question">Questions: 10</span>
                    <span class="room-countdown">Time: 3:00</span>
                </div>
            </div>
            <div class="room1" id="1">
                <div class="room-title-div">
                    <span class="room-title">Django Vs. Spring</span>
                </div>
                <div class="room-detail">
                    <span class="room-owner">Room Owner: Jaiden</span>
                    <span class="room-question">Questions: 10</span>
                    <span class="room-countdown">Time: 3:00</span>
                </div>
            </div>
            <div class="room1" id="1">
                <div class="room-title-div">
                    <span class="room-title">Django Vs. Spring</span>
                </div>
                <div class="room-detail">
                    <span class="room-owner">Room Owner: Jaiden</span>
                    <span class="room-question">Questions: 10</span>
                    <span class="room-countdown">Time: 3:00</span>
                </div>
            </div>
            <div class="room1" id="1">
                <div class="room-title-div">
                    <span class="room-title">Django Vs. Spring</span>
                </div>
                <div class="room-detail">
                    <span class="room-owner">Room Owner: Jaiden</span>
                    <span class="room-question">Questions: 10</span>
                    <span class="room-countdown">Time: 3:00</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/multiplayer_recommendation.js' %}"></script>
{% endblock %}