{% extends 'common/base.html' %}
{% load static %}
{% block title %} Quiz Quiz! - Recommended Rooms {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/multiplayer/multiplayer_recommendation.css' %}"/>
{% endblock %}

{% block content %}
    <div class="rooms-wrapper">
        <p class="page-title">Recommended Rooms</p>
        <a href="javascript:void(0);" class="refresh-a-tag">Refresh</a>
        <div class="rooms-div">
            {% if rooms|length == 0 %}
                <p class="no-rooms">
                    No rooms available at the moment. Please try again later.
                </p>
            {% else %}
                {% for room in rooms %}
                    <div class="room {{ room.class_name }}" id="{{ room.id }}">
                        <div class="room-title-div">
                            <span class="room-title">{{ room.room_title }}</span>
                        </div>
                        <div class="room-detail">
                            <span class="room-owner">Room Owner: {{ room.room_owner }}</span>
                            <span class="room-question">Questions: {{ room.question }}</span>
                            <span class="room-countdown">Time: {{ room.time_limit }}</span>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}



{% block scripts %}
    <script src="{% static 'js/multiplayer/multiplayer_recommendation.js' %}"></script>
{% endblock %}